
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>İÇECEKLER</h2>

@Html.TextBox("Aradığınız yemeğin adını yazınız.", null, new { @class = "form-control", id = "icecek" ,placeholder= "Sıcak mı? Soğuk mu?" })
<button class="btn btn-warning">ARA</button>